.services__main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  background-color: rgb(236, 236, 236);
}

.services__container {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.service__card {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.service__card h2 {
  color: var(--primary);
  text-align: center;
  width: 100%;
}

.service__card svg {
  height: 100px;
  width: 100px;
  color: var(--primary);
}
.service__card .icon {
  width: 100%;
}

@media (max-width: 700px) {
  .services__container {
    flex-direction: column;
  }
}
