.doctor__appointment {
  margin: 10px auto;
  padding: 10px 30px;

  max-width: 500px;
  background-color: var(--secondary);
}
.doctor__appointment img {
  width: 70px;
  height: 70px;
}
.doctor__appointment__info {
  padding: 0px 15px;
}
.doctor__appointment__info h2 {
  text-transform: uppercase;
  color: var(--primary);
  text-align: left;
  font-size: 20px;
}
.doctor__appointment__info p {
  text-align: left;
  font-size: 14px;
}
.doctor__appointment__info .buttons {
  text-align: right;
  font-size: 14px;
}
.doctor__appointment__info .buttons button {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
  width: 100px;
  padding: 5px 0px;
  margin: 5px;
}
.doctor__appointment__info .buttons button:hover {
  background-color: var(--primary);
  color: var(--secondary);
}
