.doctor__header {
  display: flex;

  background-color: var(--secondary);
  font-size: 20px;
  padding: 20px 100px;
  justify-content: space-around;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.doctor__header b {
  color: var(--primary);
}

.doctor__header .link {
  padding: 10px;
  border-radius: 30px;
  font-size: 18px;
  color: var(--primary);
}
.doctor__header .link:hover {
  text-decoration: underline;
}

@media (max) {
  
}