.doctor__header {
  display: flex;
  background-color: var(--secondary);
  font-size: 30px;
  padding: 20px 100px;
  justify-content: space-around;
}

.doctor__header .link {
  border: 2px solid var(--primary);
  padding: 10px;
  border-radius: 30px;
  font-size: 20px;
  color: var(--primary);
}
