:root {
  --primary: rgb(255, 120, 108);
  --secondary: rgb(255, 226, 224);
  --tertiary: rgb(255, 244, 244);
}
/* utility classes */
.btn__primary {
  background-color: var(--primary);
  border: none;
  padding: 5px 18px;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  transition: background 0.2s;
  cursor: pointer;
}
.btn__primary:hover {
  background-color: rgb(245, 160, 152);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  line-height: 1.5rem;
  color: gray;
}

.line {
  height: 1px;
  width: 70px;
  background-color: gray;
}
.circle {
  height: 8px;
  width: 8px;
  border-radius: 50px;
  background-color: var(--primary);
}
.saparator {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main_heading {
  font-size: 64px;
  color: gray;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  position: fixed;
  background-color: white;
  inset: 0;
  display: flex;
  align-items: center;
  z-index: 10000;
  justify-content: center;
}
.loading img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.loading p {
  text-align: center;
  color: var(--primary);
}
